body{
    widows: 10px;
    background:url(fondo.jpg);
    background-repeat: no-repeat;
}

div{
    width: 300px;
    height: 300px;
}

h1{
    text-align: center;
    color: black;
    margin-top: 170px;
    font: oblique bold 150% cursive;
}
h2{
    text-align: center;
    color:red;
    margin-top: -30px;
    font: bold 130% monospace;
}

a{
    color: blue;
}

label{
    font-size: 15px;
    font: oblique bold 100% cursive;
    display: block;
}

.boton {
    margin-bottom:0;
    border: 0px;
    background:#17A589;
    color: #fff;
}
.boton:hover {
background: #626469
}

p{
    text-align: justify;
    width: 75%;
    margin-left: 15%;
    margin-right: 15%;
    font: 110% monospace; 

}
.mensaje{
    position: relative;
    top: 0px;
    bottom:0px ;
    right:0px ;
    left:180px ;
}
.desplazamiento{
    position: absolute;
    top: 340px;
    bottom:0px ;
    right:0px ;
    left:595px ;
}
.mensajeFinal{
    position: absolute;
    top: 341px;
    bottom:0px ;
    right:0px ;
    left:800px ;
}
/*
NOTA: LAS CLASES SE PRECEDEN CON (.)
      LOS Id SE PRECEDEN CON (#) */

